<div id="site-login">
  <mat-card>
    <p>Enter your email and password<p>
    <mat-list>
      <mat-list-item>
        <mat-input-container>
          <input matInput type="text" placeholder="Enter your email adress...">
        </mat-input-container>
      </mat-list-item>
      <mat-list-item>
        <mat-input-container>
          <input matInput type="password" placeholder="Enter your password...">
        </mat-input-container>
      </mat-list-item>
      <mat-list-item>
          <button mat-button>Submit</button>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
