/*styles for home content only*/
body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

mat-card {
  max-width: 30%;
  margin: 2em auto;
}

mat-toolbar-row {
  justify-content: space-between;
}

#login {
  margin:0 auto;
  display:flex;
  flex-direction:row-reverse;
}
.done {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: white;
}
