<div id="home">
  <mat-card>
    <p>Welcome to the Cinema/Theater website. Reserve your seats online in few steps on our site!<p>

    <mat-grid-list cols="2">
      <mat-grid-tile>
        <a href="/cinemas">
          <img src="../../assets/img/cinema.jpg" alt="cinema" width="400px">
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a href="/theaters">
          <img src="../../assets/img/theater.jpg" alt="Express" width="380px">
        </a>
      </mat-grid-tile>
    </mat-grid-list>


  </mat-card>




</div>
